html {
  background-color: var(--color-background);
  color: var(--color-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--color-secondary-params) / 0.25) transparent;
  scrollbar-gutter: stable;
}

/* Fix Flash Issue On iOS */
body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body::selection {
  background-color: var(--color-highlight);
}

#noise-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background-image: url('../assets/img/noiseTextureBlue.png');
  background-repeat: repeat;
  pointer-events: none;
}

/* PhotoSwipe Background Color */
.pswp .pswp__bg {
  background-color: var(--color-background) !important;
}

/* Fix KaTeX Overflow with Hidden Scrollbar */
.katex-display {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.katex-display::-webkit-scrollbar {
  display: none;
}

/* Highlight Hover Animation */
.highlight-static,
.highlight-hover {
  position: relative;
  display: inline-block;
}
.highlight-static::after,
.highlight-hover::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  height: 0.5em;
  width: 100%;
  background-color: var(--color-highlight);
}
.highlight-static::after,
.highlight-hover:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.highlight-hover::after {
  transform-origin: bottom right;
  transform: scaleX(0);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
@media (min-width: 1024px) {
  .highlight-hover::after {
    transition-duration: 300ms;
  }
}

/* Heading Anchor Link */
.heading-anchor-link {
  display: inline-block;
  transform: translateY(0.1em);
}
h1:hover .heading-anchor-link svg,
h2:hover .heading-anchor-link svg,
h3:hover .heading-anchor-link svg,
h4:hover .heading-anchor-link svg {
  opacity: 0.4;
}
.heading-anchor-link svg {
  margin-left: 0.4em;
  aspect-ratio: 1 / 1;
  width: 0.9em;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 150ms;
}
.heading-anchor-link svg:active {
  transform: scale(0.9);
}
h1:hover .heading-anchor-link svg:hover,
h2:hover .heading-anchor-link svg:hover,
h3:hover .heading-anchor-link svg:hover,
h4:hover .heading-anchor-link svg:hover {
  opacity: 0.8;
}

/* Code Copy Button */
.code-copy-button {
  position: absolute;
  right: 0.55rem;
  top: 0.55rem;
  z-index: 99;
  aspect-ratio: 1 / 1;
  width: 2rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: oklch(var(--color-secondary-params) / 0.15);
  border-radius: 0.25rem;
  background-color: var(--color-background);
  color: oklch(var(--color-secondary-params) / 0.8);
  opacity: 0;
  transition: opacity 300ms ease-out, background-color 150ms ease-out, transform 50ms ease-out;
}
.code-copy-button:active {
  transform: scale(0.9);
}
.code-copy-button:hover {
  border-color: oklch(var(--color-primary-params) / 0.15);
  color: oklch(var(--color-primary-params) / 0.8);
}
.code-block-wrapper:hover .code-copy-button {
  opacity: 1;
}
.code-copy-button.copy-success {
  border: none;
  background-color: #059669;
  color: var(--color-background);
}
html.dark .code-copy-button.copy-success {
  background-color: #10b981;
}
.code-copy-button svg {
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1 / 1;
  width: 50%;
}
.code-copy-button svg,
.code-copy-button svg path {
  pointer-events: none;
}
